<!-- Content Books Card-->
<div class="container my-5">
  <section class="book-gallery">
    <h2 class="mb-3 d-flex align-items-center">
      <span
        class="badge bg-white text-primary border border-2 border-primary me-2"
        >科幻</span
      >
      <span id="hot-novels" class="fw-bold">熱門小說</span>
    </h2>
    <div class="row g-4">
      <!-- 書籍卡片1 -->
      <div class="col-md-4">
        <div class="card h-100 p-2">
          <div class="d-flex">
            <!-- 書籍圖片 -->
            <img
              src="./src/assets/images/book-gallery/book1.png"
              class="card-img-top book-cover"
              alt="書籍封面"
            />

            <!-- 文字區塊 -->
            <div class="d-flex flex-column card-body justify-content-between">
              <!-- 書籍標題 -->
              <h5 class="card-title fw-bold mb-1">神注視的孩子</h5>
              <!-- 作者資訊 -->
              <p class="mb-3">
                <a href="#" class="text-decoration-none text-primary">相思染</a>
              </p>
              <!-- 書籍描述 -->
              <p class="card-text mb-2">
                伊萊爾遇見了一個奇怪的少年他不會說話，看似在廣大的世界中遇見了...
              </p>

              <!-- 狀態標籤 -->
              <div>
                <span class="badge bg-primary book-status">已完結</span>
              </div>
            </div>
          </div>

          <!-- 互動數據按鈕 -->
          <div class="d-flex justify-content-around mt-2">
            <span class="btn btn-primary btn-sm rounded-pill">👁️ 99.9k</span>
            <span class="btn btn-primary btn-sm rounded-pill">👍 99.9k</span>
            <span class="btn btn-primary btn-sm rounded-pill">❤️ 99.9k</span>
            <span class="btn btn-primary btn-sm rounded-pill">💬 99.9k</span>
          </div>
        </div>
      </div>

      <!-- 書籍卡片2 -->
      <div class="col-md-4">
        <div class="card h-100 p-2">
          <div class="d-flex">
            <!-- 書籍圖片 -->
            <img
              src="./src/assets/images/book-gallery/book1.png"
              class="card-img-top book-cover"
              alt="書籍封面"
            />

            <!-- 文字區塊 -->
            <div class="d-flex flex-column card-body justify-content-between">
              <!-- 書籍標題 -->
              <h5 class="card-title fw-bold mb-1">神注視的孩子</h5>
              <!-- 作者資訊 -->
              <p class="mb-3">
                <a href="#" class="text-decoration-none text-primary">相思染</a>
              </p>
              <!-- 書籍描述 -->
              <p class="card-text mb-2">
                伊萊爾遇見了一個奇怪的少年他不會說話，看似在廣大的世界中遇見了...
              </p>

              <!-- 狀態標籤 -->
              <div>
                <span class="badge bg-primary book-status">已完結</span>
              </div>
            </div>
          </div>

          <!-- 互動數據按鈕 -->
          <div class="d-flex justify-content-around mt-2">
            <span class="btn btn-primary btn-sm rounded-pill">👁️ 99.9k</span>
            <span class="btn btn-primary btn-sm rounded-pill">👍 99.9k</span>
            <span class="btn btn-primary btn-sm rounded-pill">❤️ 99.9k</span>
            <span class="btn btn-primary btn-sm rounded-pill">💬 99.9k</span>
          </div>
        </div>
      </div>

      <!-- 書籍卡片3 -->
      <div class="col-md-4">
        <div class="card h-100 p-2">
          <div class="d-flex">
            <!-- 書籍圖片 -->
            <img
              src="./src/assets/images/book-gallery/book1.png"
              class="card-img-top book-cover"
              alt="書籍封面"
            />

            <!-- 文字區塊 -->
            <div class="d-flex flex-column card-body justify-content-between">
              <!-- 書籍標題 -->
              <h5 class="card-title fw-bold mb-1">神注視的孩子</h5>
              <!-- 作者資訊 -->
              <p class="mb-3">
                <a href="#" class="text-decoration-none text-primary">相思染</a>
              </p>
              <!-- 書籍描述 -->
              <p class="card-text mb-2">
                伊萊爾遇見了一個奇怪的少年他不會說話，看似在廣大的世界中遇見了...
              </p>

              <!-- 狀態標籤 -->
              <div>
                <span class="badge bg-primary book-status">已完結</span>
              </div>
            </div>
          </div>

          <!-- 互動數據按鈕 -->
          <div class="d-flex justify-content-around mt-2">
            <span class="btn btn-primary btn-sm rounded-pill">👁️ 99.9k</span>
            <span class="btn btn-primary btn-sm rounded-pill">👍 99.9k</span>
            <span class="btn btn-primary btn-sm rounded-pill">❤️ 99.9k</span>
            <span class="btn btn-primary btn-sm rounded-pill">💬 99.9k</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
