<!-- Content Tag-->
<div class="tag-container my-5">
  <section class="tag-section d-flex align-items-center">
    <!-- 左箭頭按鈕 -->
    <button type="button" class="btn btn-primary me-2">
      <span>&lt;</span>
    </button>
    <!-- 標籤區塊 -->
    <nav class="d-flex flex-grow-1 justify-content-center gap-2 flex-grow-1">
      <button type="button" class="btn btn-primary">科幻</button>
      <button type="button" class="btn btn-primary">日系奇幻</button>
      <button type="button" class="btn btn-primary">BL</button>
      <button type="button" class="btn btn-primary">成人</button>
      <button type="button" class="btn btn-primary">恐怖</button>
      <button type="button" class="btn btn-primary">青春</button>
      <button type="button" class="btn btn-primary">冒險</button>
      <button type="button" class="btn btn-primary">推理</button>
      <button type="button" class="btn btn-primary">百合</button>
      <button type="button" class="btn btn-primary">宮廷</button>
    </nav>

    <!-- 右箭頭按鈕 -->
    <button type="button" class="btn btn-primary ms-2">
      <span>&gt;</span>
    </button>
  </section>
</div>
